CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxx"
CLIENT_SECRET="shpss_xxxxxxxxxxxxxxxxxxxxxxx"
API_VERSION="2026-04"
STORE_DOMAIN="mystore.myshopify.com"
SCOPES="read_products"
REDIRECT_PATH="callback"
PORT="3000"